


<div class="container">
  <h2> Demandes</h2>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nom et Prenom</th>
          <th>Role </th>

          <th>Email Enseignant </th>
          <th>Materiel</th>
          <th>Quanité</th>
          <th>Quanité Stock</th>

          <th>Date</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.nom }} {{ reservation.prenom }}</td>
          <td>{{ reservation.role }}</td>
          <td>{{ reservation.email }}</td>
          <td>{{ reservation.nomMat }}</td>
          <td>{{ reservation.quantity }}</td>
          <td>{{ reservation.qtStock }}</td>
          <td>{{ reservation.date }}</td>

          <td>
            <div class="example-button-container">
              <button mat-mini-fab color="red" (click)="refuseReservation(reservation)">Refuser</button>
              <button mat-mini-fab color="green" class="ml-4"  (click)="acceptReservation(reservation)">Accepter</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
  <div *ngIf="reservations.length === 0 && !isLoading">
    <p>No demande reservations  found .</p>
  </div>
</div>
