<div class="container">
  <h2>Demande List</h2>
  <tr *ngFor="let reservation of reservations">   
    <td>{{ reservation.nom }} {{ reservation.prenom }}</td>
    <td>{{ reservation.nomMat }}</td>
    <td>{{ reservation.quantity }}</td>
    <td>{{ reservation.date }}</td>
    <td>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" (click)="delete(reservation.key)">Delete</button>
        <button mat-mini-fab color="green" class="ml-4" (click)="accept(reservation.key)">Accept</button>
      </div>
    </td>
  </tr>
  
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>