<app-student-profile *ngIf="role === 'etudiant'"></app-student-profile>
<app-teacher-profile *ngIf="role === 'enseignant'"></app-teacher-profile>

<!-- materiel-list.component.html -->

<div class="container">
  <h2>Materiel List</h2>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Type</th>
          <th>Description</th>
          <th>Quantite</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materiel of materiels">
          <td>{{ materiel.data.nom }}</td>
          <td>{{ materiel.data.type }}</td>
          <td>{{ materiel.data.description }}</td>
          <td>{{ materiel.data.quantiteStock }}</td>
          <td>
          <div class="example-button-container">
              <button mat-mini-fab color="primary" (click)="reserver(materiel.id)">Reserver</button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
